main{
  background-color:#00000B
}
header{
  background-color:#F0B9E5
}
footer{
  backoground-cólor:#00000B
}
h1{
  Color:#8A58E1;
}

body{
}
#banner{
   width:100%;
}
.principal{
  background:#CCCCCC;
  padding:30px;
}
,titulo-principal{
  padding-left:20px;
}
p{
  text-align:center;
}
#missao{
  font-size:20px
}
em strong{
  collor: #FF0000;
}
.itens{
  font-style:italic
}
.beneficios{
background:#FFFFFF;
  padding;:20px;
}
ul{
  display:inline-block;
  vertical-aling:top;
  width:20%;
  margin-right:15%;
}
.imagembeneficios{
  width:50%;
}
